<div class="header">

  <a href="#default" class="logo">Tcat Tour Packages </a>
  <div class="header-right" style="display: flex;">
    <a routerLink="/viewCart">
      <mat-icon style="color: black; font-size: 40px; padding-right: 40px;" aria-hidden="false" aria-label="Example home icon"><span >
          shopping_cart
        </span></mat-icon>

    </a>
    <div class="header-right">
      <h5 style="font-size: 15px;">{{totalItem}} item(s)</h5>
      <h3 style="font-size: 18px; color: red;">{{grandTotal}}</h3>
    </div>
  </div>
</div>