.card {
	background: #fff;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(147, 170, 185, 0.16);
	width: 20rem;
}
.rate {
	font-family: Roboto;
	font-weight: normal;
	font-size: 20px;
	color: #d21a1a;
}

.card-container {
	max-width: 1400px;
	width: 95%;
}

.card-body {
	max-width: 200px;
	padding-left: 10px;
	margin-top: 0px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.card-deck {
	margin-bottom: 3.2rem;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.front-deck {
	padding-top: 12rem;
}

.card {
	margin-right: 16px;
	border: none;
	flex: 0 0 auto;
}

.card .card-body {
	border: 2px solid #96cecf;
	border-top: 0px;
}

.right {
	float: right;
	size: 10px;
}

.card img {
	width: 200px;
	height: 200px;
	margin: botton 15px;
	transition: 0.3px ease-in-out;
}

.card img-hover {
	transition: 0.3 ease-in-out;
	transform: scale(1.1);
}
