.cart{
    float: right; 
    color: black;
}

.img{
    border-radius: 15px 15px 0px 0px;
}

.clr{
    color:#d21a1a;
    font-size: 20px;
    font-weight: normal;
    
  }

  
.show{
    width:18rem;
     height: 20rem;
      border-radius: 15px;
      background-color: #fff;
      color: #707070;
      box-shadow: 0px 5px 20px rgba(147,170,185,0.16);
  }

  .body{
      background-color: #f1f3fa;
  }